<header class="fl-header sticky-top">
    <nav class="navbar navbar-expand-lg">
        <ul class="nav align-items-center mr-auto">
            <li class="d-lg-none">
                <button type="button" class="nav-link navbar-icon" data-toggle="modal" 
                data-target="#sidebar">
                    <i data-feather="menu"></i>
                </button>
            </li>
            <li class="dropdown d-none d-lg-block">
                <a class="nav-link" href="#" data-toggle="dropdown" role="button" 
                aria-haspopup="true" aria-expanded="false">
                    <div class="nav-content">
                        <div class="nav-icon"><i data-feather="plus" class="icon-sm"></i></div>
                        <div class="nav-text">Quick adds</div>
                    </div>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="separated-content">
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </li>
        </ul>

        <div class="">
            <ul class="nav ml-auto align-items-center">
                <li class="dropdown">
                    <a class="nav-link navbar-icon" href="#" data-toggle="dropdown" 
                    role="button" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="bell"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div class="dropdown-header">
                            <div>Notifications</div>
                            <div class="ml-auto">
                                <a href="#"><i class="icon-clear_all fs-m"></i></a>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="row no-gutters align-items-top">
                                        <div class="col-2 text-center">
                                            <i data-feather="cpu" class="fill-success"></i>
                                        </div>
                                        <div class="col">
                                            <div class="title">System Update</div>
                                            <div class="small text-muted">Update system version 1.2.0 available</div>
                                            <div class="fs-sm text-muted mt-1">2 minutes ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row no-gutters align-items-top">
                                        <div class="col-2 text-center">
                                            <i data-feather="user-x" class="fill-info"></i>
                                        </div>
                                        <div class="col">
                                            <div class="title">Account Incomplete</div>
                                            <div class="small text-muted">Complete your account information</div>
                                            <div class="fs-sm text-muted mt-1">8 minutes ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row no-gutters align-items-top">
                                        <div class="col-2 text-center">
                                            <i data-feather="alert-triangle" class="fill-warning"></i>
                                        </div>
                                        <div class="col">
                                            <div class="title">Update Failed</div>
                                            <div class="small text-muted">Your update has failed, try again later</div>
                                            <div class="fs-sm text-muted mt-1">20 minutes ago</div>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item">
                                    <div class="row no-gutters align-items-top">
                                        <div class="col-2 text-center">
                                            <i data-feather="alert-circle" class="fill-danger"></i>
                                        </div>
                                        <div class="col">
                                            <div class="title">Change Password</div>
                                            <div class="small text-muted">Your password seems too weak, change your password</div>
                                            <div class="fs-sm text-muted mt-1">5 hours ago</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="dropdown-footer text-center">
                            <a href="#" class="small text-muted">Show all notifications</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link navbar-icon" href="#" data-toggle="dropdown" 
                    role="button" aria-haspopup="true" aria-expanded="false">
                        <i data-feather="message-square"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="separated-content">
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </li>
                <li class="dropdown">
                    <a class="nav-link navbar-user" data-toggle="dropdown" 
                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                        <div class="nav-content">
                            <div class="avatar-wrapper">
                                <img src="https://github.com/muhammadwafi.png" class="avatar sm" alt="@muhammadwafi" width="32" height="32">
                                <div class="avatar-outline"></div>
                            </div>
                            <div class="nav-text">Wafi .M</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="separated-content">
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>