<aside class="fl-sidebar nav-expand" id="sidebar" aria-hidden="true">
    <div class="fl-sidebar__content modal-dialog" data-scrollbar>
        <!-- Brand -->
        <div class="top-bar">
            <div class="brand">
                <a href="/">Flush</a>
            </div>
        </div>
        <!-- Navigation -->
        <nav class="fl-sidebar__nav">
            <ul class="nav flex-column">

                <li class="nav-divider">Main</li>

                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="grid"></i>
                            </div>
                            <div class="nav-text">Dashboard</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item has-dropdown">
                    <a class="nav-link" href="#layout" data-target="layout">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="layout"></i>
                            </div>
                            <div class="nav-text">Layout</div>
                            <i class="mw-arrow"></i>
                        </div>
                    </a>
                    <!-- sub-menu -->
                    <ul class="sub-menu" id="layout">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sidebar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Top Bar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Right Bar</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Widgets.html">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="box"></i>
                            </div>
                            <div class="nav-text">Widgets</div>
                        </div>
                    </a>
                </li>

                <li class="nav-divider">Components</li>

                <li class="nav-item has-dropdown">
                    <a class="nav-link" href="#ui" data-target="ui">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="command"></i>
                            </div>
                            <div class="nav-text">User Interface</div>
                        </div>
                    </a>
                    <!-- sub-menu -->
                    <ul class="sub-menu" id="ui">
                        <li class="nav-item">
                            <a class="nav-link" href="/Avatars.html">Avatars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Alerts.html">Alerts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Badge.html">Badge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Button.html">Button</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Card.html">Card</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Modals.html">Modals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Pagination.html">Pagination</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ProgressBar.html">Progress Bar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Popover.html">Popover</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Tabs.html">Tabs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Tags.html">Tags</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-dropdown">
                    <a class="nav-link" href="#ui" data-target="ui">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="clipboard"></i>
                            </div>
                            <div class="nav-text">Forms</div>
                        </div>
                    </a>
                    <!-- sub-menu -->
                    <ul class="sub-menu" id="ui">
                        <li class="nav-item">
                            <a class="nav-link" href="/BasicForms.html">Basic</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/FormWizard.html">Form Wizard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Selectize.html">Selectize</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Datepicker.html">Datepicker</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Timepicker.html">Timepicker</a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="bar-chart-2"></i>
                            </div>
                            <div class="nav-text">Charts</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="list"></i>
                            </div>
                            <div class="nav-text">Tables</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item has-dropdown">
                    <a class="nav-link" href="#icons" data-target="icons">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="smile"></i>
                            </div>
                            <div class="nav-text">Icons</div>
                            <i class="mw-arrow"></i>
                        </div>
                    </a>
                    <!-- sub-menu -->
                    <ul class="sub-menu" id="icons">
                        <li class="nav-item">
                            <a class="nav-link" href="/FeatherIcons.html">Feather Icons</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/BoxIcons.html">Box Icons</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-divider">Extra</li>
                <li class="nav-item has-dropdown">
                    <a class="nav-link" href="#pages" data-target="pages">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="layers"></i>
                            </div>
                            <div class="nav-text">Pages</div>
                        </div>
                    </a>
                    <!-- sub-menu -->
                    <ul class="sub-menu" id="pages">
                        <li class="nav-item">
                            <a class="nav-link" href="/Blank.html">Blank Page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Blank.html">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SearchResult.html">Search Results</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Timeline.html">Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Pricing.html">Pricing</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ColorsSpec.html">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="sun"></i>
                            </div>
                            <div class="nav-text">Colors Spec</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Calendar.html">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="calendar"></i>
                            </div>
                            <div class="nav-text">Calendar</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Maps.html">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="map"></i>
                            </div>
                            <div class="nav-text">Maps</div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Gallery.html">
                        <div class="nav-content">
                            <div class="nav-icon">
                                <i data-feather="image"></i>
                            </div>
                            <div class="nav-text">Gallery</div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>