<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %> | Flush</title>
    <%= htmlWebpackPlugin.options.metaHeader %>
</head>
<body>
    <div class="fl-app" id="app">
        <!-- Sidebar -->
        <%= htmlWebpackPlugin.options.sidebarNav %>

        <!-- Content -->
        <section class="fl-content">
            <!-- Content Header -->
            <%= htmlWebpackPlugin.options.contentHeader %>

            <!-- Main Content -->
            <main class="container-fluid" role="main">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- Box Icons -->
                        <div class="card" id="box-icons">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="mb-1 h3">Box Icons</div>
                                    <div class="small text-muted">Box icons examples</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">This is just a preview of some box icons, to see complete list of this icons please visit <a href="https://boxicons.com/">boxicons.com</a> website.</p>
                                <div class="row row-eq-height row-cols-3 row-cols-md-6 justify-content-center">
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-shape-polygon'></i>
                                            </div>
                                            <div class="text-content">.bx-shape-polygon</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-donate-blood'></i>
                                            </div>
                                            <div class="text-content">.bxs-donate-blood</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-donate-blood'></i>
                                            </div>
                                            <div class="text-content">.bx-donate-blood</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-donate-heart'></i>
                                            </div>
                                            <div class="text-content">.bxs-donate-heart</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-donate-heart'></i>
                                            </div>
                                            <div class="text-content">.bx-donate-heart</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-door-open'></i>
                                            </div>
                                            <div class="text-content">.bxs-door-open</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-door-open'></i>
                                            </div>
                                            <div class="text-content">.bx-door-open</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-crop'></i>
                                            </div>
                                            <div class="text-content">.bxs-crop</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-credit-card'></i>
                                            </div>
                                            <div class="text-content">.bxs-credit-card</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-credit-card'></i>
                                            </div>
                                            <div class="text-content">.bx-credit-card</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-copyright'></i>
                                            </div>
                                            <div class="text-content">.bxs-copyright</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-cookie'></i>
                                            </div>
                                            <div class="text-content">.bxs-cookie</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-cookie'></i>
                                            </div>
                                            <div class="text-content">.bx-cookie</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-comment-detail'></i>
                                            </div>
                                            <div class="text-content">.bxs-comment-detail</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-comment-detail'></i>
                                            </div>
                                            <div class="text-content">.bx-comment-detail</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-comment-add'></i>
                                            </div>
                                            <div class="text-content">.bxs-comment-add</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-message-square-detail'></i>
                                            </div>
                                            <div class="text-content">.bxs-message-square-detail</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-message-square-detail'></i>
                                            </div>
                                            <div class="text-content">.bx-message-square-detail</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-message-square-add'></i>
                                            </div>
                                            <div class="text-content">.bxs-message-square-add</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-message-square-add'></i>
                                            </div>
                                            <div class="text-content">.bx-message-square-add</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-backpack'></i>
                                            </div>
                                            <div class="text-content">.bxs-backpack</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-blanket'></i>
                                            </div>
                                            <div class="text-content">.bxs-blanket</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-blanket'></i>
                                            </div>
                                            <div class="text-content">.bx-blanket</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-dashboard'></i>
                                            </div>
                                            <div class="text-content">.bxs-dashboard</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-chat'></i>
                                            </div>
                                            <div class="text-content">.bxs-chat</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-chat'></i>
                                            </div>
                                            <div class="text-content">.bx-chat</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-user'></i>
                                            </div>
                                            <div class="text-content">.bxs-user</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-user'></i>
                                            </div>
                                            <div class="text-content">.bx-user</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bxs-user-circle'></i>
                                            </div>
                                            <div class="text-content">.bxs-user-circle</div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="icon-wrapper">
                                            <div class="content">
                                                <i class='bx bx-user-circle'></i>
                                            </div>
                                            <div class="text-content">.bx-user-circle</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex my-3 justify-content-center">
                                    <a href="https://boxicons.com/" target="_blank" class="btn btn-md btn-primary">See more examples</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Sidenav -->
                    <nav class="d-none d-xl-block col-xl-2">
                        <ul class="sidenav-sticky">
                            <li class="nav-item">
                                <a href="#box-icons">Box Icons</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
            
            <!-- Content Footer -->
            <%= htmlWebpackPlugin.options.footer %>
        </section>
    </div>
    <!-- load JS scripts -->
</body>
</html>