<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %> | Flush</title>
    <%= htmlWebpackPlugin.options.metaHeader %>
</head>
<body>
    <div class="fl-app" id="app">
        <!-- Sidebar -->
        <%= htmlWebpackPlugin.options.sidebarNav %>

        <!-- Content -->
        <section class="fl-content">
            <!-- Content Header -->
            <%= htmlWebpackPlugin.options.contentHeader %>

            <!-- Main Content -->
            <main class="container-fluid" role="main">
                <div class="row">
                    <div class="col-xl-10">
                        <!-- Colors -->
                        <div class="card" id="pagination">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="mb-1 h3">Colors</div>
                                    <div class="small text-muted">Balanced color palette</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col box box-light"></div>
                                    <div class="col box box-light-shade-5"></div>
                                    <div class="col box box-light-shade-10"></div>
                                    <div class="col box box-light-shade-15"></div>
                                    <div class="col box box-light-shade-20"></div>
                                    <div class="col box box-light-shade-25"></div>
                                </div>
                            </div>
                            <div class="fl-codebox">
                                <button class="fl-codebox__btn" data-toggle="collapse" data-target="#paginationBasic__code">
                                    <i data-feather="code" class="icon-xs"></i> Show Code
                                </button>
                            </div>
                            <div class="collapse" id="paginationBasic__code">
<div class="syntax-highlight">
<pre><code class="language-html">
</code></pre>
</div>
                            </div>
                        </div>
                    </div>

                    <!-- Sidenav -->
                    <nav class="d-none d-xl-block col-xl-2">
                        <ul class="sidenav-sticky">
                            <li class="nav-item">
                                <a href="#pagination">Pagination</a>
                            </li>
                            <li class="nav-item">
                                <a href="#pagination-small">Pagination Small</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </main>
            
            <!-- Content Footer -->
            <%= htmlWebpackPlugin.options.footer %>
        </section>
    </div>
    <!-- load JS scripts -->
</body>
</html>