<!DOCTYPE html>
<html>
<head>
    <title><%= htmlWebpackPlugin.options.title %> | Flush</title>
    <%= htmlWebpackPlugin.options.metaHeader %>
</head>
<body>
    <div class="fl-app" id="app">
        <!-- Sidebar -->
        <%= htmlWebpackPlugin.options.sidebarNav %>

        <!-- Content -->
        <section class="fl-content">
            <!-- Content Header -->
            <%= htmlWebpackPlugin.options.contentHeader %>

            <!-- Main Content -->
            <main class="container-fluid" role="main">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <h3 class="mb-1">Welcome to flush</h3>
                                        <small class="text-muted">An open source admin theme by <a href="www.mwprolabs.com" target="_blank" class="card-link text-muted">www.mwprolabs.com</a></small>
                                    </div>
                                    <div>
                                        <a href="/Avatars.html" class="btn btn-primary">Get Started</a>
                                    </div>
                                </div>
                                <hr>
                                <div>
                                    <pre class="d-inline-block">⚠️</pre> This project is not done yet! Check our <a href="https://github.com/muhammadwafi/flush" target="_blank">github</a> page for more information.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <!-- Content Footer -->
            <%= htmlWebpackPlugin.options.footer %>
        </section>
    </div>
    <!-- load JS scripts -->
</body>
</html>